@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 15px;
    background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
} 

a.active {
    color: #424242;
}

@tailwind base;
@tailwind components;
@tailwind utilities;